.hero-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-container{
    align-items: center;
    margin-top: 20px;
}
.contacts__title{
    font-size: 60px;
}
.contacts__subtitle{
    font-size: 25px;
    text-align: center;
}

.contacts-container .social-media__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    font-size: 25px;

}
.contacts-container .social-medias__svg{
    width: 75px;
}
.form__title{
    font-size: 35px;
    text-align: center;
    font-weight: 200;
    margin: 20px 0;
}
.contact__form{
    width: 60%;
}
.contact-me__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid var(--light-gray);*/
    border-radius: 15px;
    padding: 25px 0;
    gap: 10px;

}
.contact-me__form label{
    width: 100%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.contact-me__form input, .contact-me__form textarea{
    width: 70%;
    font-size: 25px;
    background: var(--deep-black);
    color: var(--primary-color);
    font-family: "Raleway", sans-serif;
    padding: 10px;
    border-radius: 10px;
    border:1px solid var(--light-gray);
}

@media (max-width: 800px) {
    .contacts__title {
        font-size: 45px;
    }
    .contact__form{
        width: 100%;
    }
    .contacts__subtitle {
        font-size: 22px;
    }
    .section .social-medias {
        flex-wrap: wrap;
        justify-content: center;
    }
    .form__title {
        font-size: 25px;
    }
    .contact-me__form input, .contact-me__form textarea {
        font-size: 20px;
    }
    .contacts-container .social-medias__svg{
        width: 50px;
    }
}
@media (max-width: 430px) {
    .contacts__title {
        font-size: 35px;
    }
    .contacts-container .social-media__link {
        font-size: 22px;
    }
    .contacts-container .social-medias__svg{
        width: 35px;
    }
}